
* {

    box-sizing: border-box;
    
}

/* CSS variables */ 
:root {
    --primary-color-font:#ECE8E8;
    --accent-color:#8f1ea8;
    --primary-color: #0e0d0d;
    --secondary-color:#2E2D2E; 
        
}


body {
   
   background-color: #fdf8f8;
   font-family: "Barlow", serif;
   font-size: 16px;
   color: rgb(255, 251, 251);
   display: flex;
   margin: 0 auto;
   
}

h1 {

    color: white;
    font-family: "bungee" , sans-serif;
   
    
}



h2, h3 {

    color: white;
    font-family:"bungee" , sans-serif; ;
   font-size: 2rem;
}


.section {

    padding: 4rem;   
}


/* H2 */
.headings {
    font-family: "bungee" , sans-serif;
    position: relative;
    top: 50%;
    font-size: 2rem;  
    
}

/* Removes underline from links */
a {

    text-decoration: none;
    color: white;
    
}



/* Navbar */

.navbar {

    background-color: var(--secondary-color);
    
    
  
}

.navbar-brand{
    
    font-family: "Shrikhand", serif;
    font-size: 1.5rem;
    color:rgb(214, 210, 210);
    background: linear-gradient(to right, #d53a9d,  #be388d, #9e57ce,   #8257ce);
    background-clip: text;
    -webkit-background-clip: text;   
    -webkit-text-fill-color: transparent;

}


/* Found this on chrome dev tools which made the brand logo change colour */
.navbar-brand:focus, .navbar-brand:hover {
    color: #ffffff;
  
   
}

/* Fixes boostrap active color */
.navbar-nav .nav-link {

    color: var(--primary-color-font);
    font-size: 16px;
} 

 #navbar {

 background-color: var(--primary-color);
 height: 6rem;
    
 
}

.navbar-toggler {

    border-color:#ffffff;

}


.nav-link{

    color: var(--primary-color-font);
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px; 
}


.nav-link:hover {

    color: #eaadea;
    transition: 0.5s ease-in-out;
    
    text-shadow: 4px 4px 10px #000000;  
}

 .active {

    font-weight: 600; 
}


.navbar-nav > li{
    padding-left:0px;
    padding-right:30px;
  }


  .nav-link{

    padding-left: 12px;
    padding-right: 12px ;
    --bs-navbar-nav-link-padding-x: 0.8rem;
  }


  .navbar-nav > li:active{
    color: var(--primary-color-font);
  }


  .navbar-nav > li
 #navbarNavDropdown {

    background-color: var(--primary-color);
 }

#nav-background{

    background-color: var(--primary-color);
   
}



/* Hero section */

#hero-membership {

    background: linear-gradient(rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0.7) 40%, rgba(0, 0, 0, 0.9) 90%), url(/assets/images/heromembership.webp) no-repeat center center;
    height: 40vh;
    min-height: 300px;
    background-attachment: fixed;
    background-size: cover;   
}


#hero-contact {

    background: linear-gradient(rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0.7) 40%, rgba(0, 0, 0, 0.9) 90%), url(/assets/images/victor-freitas-vjkM-0m34KU-unsplash-_1_.webp)no-repeat center center;
    height: 40vh;
    min-height: 300px;
    background-attachment: fixed;
    background-size: cover;
}




#hero-classes {

    background: linear-gradient(rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0.7) 40%, rgba(0, 0, 0, 0.9) 90%), url(/assets/images/pexels-cottonbro-4761352.webp)no-repeat center center;
    height: 40vh;
    min-height: 300px;
    background-attachment: fixed;
    background-size: cover;
}


.hero-text {
    color: rgb(255, 255, 255);
    margin-top: 230px;
  text-shadow: 2px 2px 4px #000000;
}


#join-button {

    background-color: var(--accent-color);
    border: none;
    border-radius:5px ;
    padding: 18px;
    color: #ffffff ; 
   font-family: "Lato", serif;
   font-weight: 900;
   position: relative;
   transition: transform 0.3s ease, background-color 0.3s ease;
}


#join-button:hover {

    background-color:#471053 ;
    color: white;
    transition: 0.8s;
    transform: scale(1.1); /* enlarges the button */ 
}


#join-button:active {

    background-color:#2b0933 ;
}



/* Main */

/* What we offer section */


#offer-section {
    background-color: var(--primary-color);
    padding-top: 120px;
    padding-left: 25px;  
    padding-right: 25px;
    background-color: #0D0D0D;

}


.card {

    min-width: 140px ;
    border: 0px solid black;
    background-color: #181717;
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: column;  
}

.card-body {

    /* SVG design https://www.svgbackgrounds.com/set/free-svg-backgrounds-and-patterns/ */

    background-color: #040404;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23181719'/%3E%3Cstop offset='1' stop-color='%23232323'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='24' height='24' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23040404' cx='12' cy='12' r='12'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.1'/%3E%3C/svg%3E");
   
    border: 1px solid black;
    background-color: #0D0D0D;
    
    color: white;
    font-size: 16px;
    position: relative;
    min-width: 140px;
    position: relative;
    /* Makes the buttons align */
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
}




.card-border {

    border: 10px solid;
    border-image-slice: 1;
    border-width: 4px;
   padding-left: 0;
   padding-right: 0;
   border-image-source: linear-gradient(to right, #743ad5, #d53a9d); 
 
  
   
}



.card-title {
    color: rgb(253, 253, 253);
    font-family: "bungee" , sans-serif;
    font-size: 18px;
    text-shadow: 2px 2px 4px #000000;
}





.card-img-top {

    min-width: 140px;
   
}



.offer-button {

    background-color: var(--accent-color);
    border: none;
    border-radius:0px ;
    padding: 18px;
    color: #ffffff ; 
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-weight: 600;
   position: relative;
   margin-top: auto;
   min-width: 120px;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
   transition: transform 0.3s ease, background-color 0.3s ease;
   border-radius: 10px;
}

.offer-button:hover {

    background-color:#471053 ;
    color: white;
    transition: 0.8s;
    transform: scale(1.1); 
}



/* Fixes issue with btn background */
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus {
    background-color: var(--accent-color);
}


/* Membership.html */

#membership-section {

background-color: var(--primary-color);
padding: 5px;
padding-bottom: 60px;

}



#membership-h2-text {

    font-size: 25px;
    font-weight: 400;
}


.price {

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}


.join-button {

    background-color: var(--accent-color);
    color: #ffffff;
    display: flex;
    justify-content: center;
    position: relative;
    max-width: 150px;
    min-width: 125px;
    margin: 0 auto;
}


.join-button:hover {


    background-color: #471053;
    transition: 0.8s; 
}



.card-padding {

   background-color: var(--primary-color);
    
}


.card-border-membership {

    border: 2px solid;
    border-image-slice: 1;
    border-width: 5px;
   padding-left: 0;
   padding-right: 0;
   border-image-source: linear-gradient(to right, #743ad5, #d53a9d); 
   display: flex;
   justify-content:center;
   box-shadow: -13px 13px 20px #000000,
-13px -13px 20px #000000;
}


.card-background3 {

/* SVG design https://www.svgbackgrounds.com/set/free-svg-backgrounds-and-patterns/ */

background-color: #00000D;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2000' height='2000' viewBox='0 0 800 800'%3E%3Cg fill='none' %3E%3Cg stroke='%230F1012' stroke-width='17'%3E%3Cline x1='-8' y1='-8' x2='808' y2='808'/%3E%3Cline x1='-8' y1='792' x2='808' y2='1608'/%3E%3Cline x1='-8' y1='-808' x2='808' y2='8'/%3E%3C/g%3E%3Cg stroke='%230e1012' stroke-width='16'%3E%3Cline x1='-8' y1='767' x2='808' y2='1583'/%3E%3Cline x1='-8' y1='17' x2='808' y2='833'/%3E%3Cline x1='-8' y1='-33' x2='808' y2='783'/%3E%3Cline x1='-8' y1='-783' x2='808' y2='33'/%3E%3C/g%3E%3Cg stroke='%230d0f13' stroke-width='15'%3E%3Cline x1='-8' y1='742' x2='808' y2='1558'/%3E%3Cline x1='-8' y1='42' x2='808' y2='858'/%3E%3Cline x1='-8' y1='-58' x2='808' y2='758'/%3E%3Cline x1='-8' y1='-758' x2='808' y2='58'/%3E%3C/g%3E%3Cg stroke='%230c0f13' stroke-width='14'%3E%3Cline x1='-8' y1='67' x2='808' y2='883'/%3E%3Cline x1='-8' y1='717' x2='808' y2='1533'/%3E%3Cline x1='-8' y1='-733' x2='808' y2='83'/%3E%3Cline x1='-8' y1='-83' x2='808' y2='733'/%3E%3C/g%3E%3Cg stroke='%230c0e13' stroke-width='13'%3E%3Cline x1='-8' y1='92' x2='808' y2='908'/%3E%3Cline x1='-8' y1='692' x2='808' y2='1508'/%3E%3Cline x1='-8' y1='-108' x2='808' y2='708'/%3E%3Cline x1='-8' y1='-708' x2='808' y2='108'/%3E%3C/g%3E%3Cg stroke='%230b0e14' stroke-width='12'%3E%3Cline x1='-8' y1='667' x2='808' y2='1483'/%3E%3Cline x1='-8' y1='117' x2='808' y2='933'/%3E%3Cline x1='-8' y1='-133' x2='808' y2='683'/%3E%3Cline x1='-8' y1='-683' x2='808' y2='133'/%3E%3C/g%3E%3Cg stroke='%230a0d14' stroke-width='11'%3E%3Cline x1='-8' y1='642' x2='808' y2='1458'/%3E%3Cline x1='-8' y1='142' x2='808' y2='958'/%3E%3Cline x1='-8' y1='-158' x2='808' y2='658'/%3E%3Cline x1='-8' y1='-658' x2='808' y2='158'/%3E%3C/g%3E%3Cg stroke='%23090d14' stroke-width='10'%3E%3Cline x1='-8' y1='167' x2='808' y2='983'/%3E%3Cline x1='-8' y1='617' x2='808' y2='1433'/%3E%3Cline x1='-8' y1='-633' x2='808' y2='183'/%3E%3Cline x1='-8' y1='-183' x2='808' y2='633'/%3E%3C/g%3E%3Cg stroke='%23080c15' stroke-width='9'%3E%3Cline x1='-8' y1='592' x2='808' y2='1408'/%3E%3Cline x1='-8' y1='192' x2='808' y2='1008'/%3E%3Cline x1='-8' y1='-608' x2='808' y2='208'/%3E%3Cline x1='-8' y1='-208' x2='808' y2='608'/%3E%3C/g%3E%3Cg stroke='%23070c15' stroke-width='8'%3E%3Cline x1='-8' y1='567' x2='808' y2='1383'/%3E%3Cline x1='-8' y1='217' x2='808' y2='1033'/%3E%3Cline x1='-8' y1='-233' x2='808' y2='583'/%3E%3Cline x1='-8' y1='-583' x2='808' y2='233'/%3E%3C/g%3E%3Cg stroke='%23060b15' stroke-width='7'%3E%3Cline x1='-8' y1='242' x2='808' y2='1058'/%3E%3Cline x1='-8' y1='542' x2='808' y2='1358'/%3E%3Cline x1='-8' y1='-558' x2='808' y2='258'/%3E%3Cline x1='-8' y1='-258' x2='808' y2='558'/%3E%3C/g%3E%3Cg stroke='%23050b16' stroke-width='6'%3E%3Cline x1='-8' y1='267' x2='808' y2='1083'/%3E%3Cline x1='-8' y1='517' x2='808' y2='1333'/%3E%3Cline x1='-8' y1='-533' x2='808' y2='283'/%3E%3Cline x1='-8' y1='-283' x2='808' y2='533'/%3E%3C/g%3E%3Cg stroke='%23040a16' stroke-width='5'%3E%3Cline x1='-8' y1='292' x2='808' y2='1108'/%3E%3Cline x1='-8' y1='492' x2='808' y2='1308'/%3E%3Cline x1='-8' y1='-308' x2='808' y2='508'/%3E%3Cline x1='-8' y1='-508' x2='808' y2='308'/%3E%3C/g%3E%3Cg stroke='%23030a16' stroke-width='4'%3E%3Cline x1='-8' y1='467' x2='808' y2='1283'/%3E%3Cline x1='-8' y1='317' x2='808' y2='1133'/%3E%3Cline x1='-8' y1='-333' x2='808' y2='483'/%3E%3Cline x1='-8' y1='-483' x2='808' y2='333'/%3E%3C/g%3E%3Cg stroke='%23020916' stroke-width='3'%3E%3Cline x1='-8' y1='342' x2='808' y2='1158'/%3E%3Cline x1='-8' y1='442' x2='808' y2='1258'/%3E%3Cline x1='-8' y1='-458' x2='808' y2='358'/%3E%3Cline x1='-8' y1='-358' x2='808' y2='458'/%3E%3C/g%3E%3Cg stroke='%23010917' stroke-width='2'%3E%3Cline x1='-8' y1='367' x2='808' y2='1183'/%3E%3Cline x1='-8' y1='417' x2='808' y2='1233'/%3E%3Cline x1='-8' y1='-433' x2='808' y2='383'/%3E%3Cline x1='-8' y1='-383' x2='808' y2='433'/%3E%3C/g%3E%3Cg stroke='%23000817' stroke-width='1'%3E%3Cline x1='-8' y1='392' x2='808' y2='1208'/%3E%3Cline x1='-8' y1='-408' x2='808' y2='408'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
background-repeat: no-repeat;
background-size: cover;

}


/* contact.html */

#contact-section {

    background-color: var(--primary-color);
    padding-top: 120px;
    padding-left: 15px;
    padding-right: 15px;
}

#contact-background {
    background-color: #121111;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 120 120'%3E%3Cpolygon fill='%230E0D0D' fill-opacity='0.55' points='120 120 60 120 90 90 120 60 120 0 120 0 60 60 0 0 0 60 30 90 60 120 120 120 '/%3E%3C/svg%3E");
padding-left: 10px;
padding-right: 10px;
box-shadow: -13px 13px 20px #000000,
-13px -13px 20px #000000 ;

}

#call-us-btn {

    background-color: var(--accent-color);
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#call-us-btn:hover {

    background-color:#5d186d;
}



#submit-btn {

    background-color:var(--accent-color);
    color: white;
}

#submit-btn:hover {

    background-color: #5d186d;
    transition: 0.2s;
}


/* Location Section */

#location-section {
   background-color:black;
   border-top: 1px solid purple;
   padding-left: 25px;  
   padding-right: 25px;
     
}


#location {

    padding-top: 140px;
}

#map {

    max-width: 700px;
    height: 50vh;
    width: 100%;
    
}


/* opening/closing times */



.table {
    
    font-size: 20px;
    max-width: 700px;
    width: 100%;
    height: 50vh;
    
}

    td {
        font-style: oblique;
    }
    
    
    /* Gallery.html */


    #hero-gallery {
        background-color: var(--primary-color);
    }

    #gallery-background {
        background-color: var(--primary-color);
        padding: 5px;
    }
    
    .c-item {

        height: 480px;
    }

    .c-img {

        height: 100%;
        object-fit: contain;
    }


/* Classes.htmml */

 .classes-margin {

        padding-bottom: 300px;
 }


 .row-padding {

    min-height: 1400px;
 }


 /* Makes the cards have the same height */

 .min-height-card {

    min-height: 600px;
 }


/* Footer */


footer {

    background-color: var(--secondary-color);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
    padding-left: 50px;
    padding-right: 50px;
    
}


#contact-container {

    font-size: 16px;
}


#h3-contact {

    font-size: 18px;
 
}

.fa-brands {

    width: 2.5rem;
    color: white;
    
    
}

.fa-brands:hover {

    color: var(--accent-color);
    transition: 0.5s;
}



.contact-a> a {

font-size: 12px;


}



/* Media queries */


@media screen and (max-width: 425px) {


   .h3-footer {

    font-size: 20px;
   }

}


@media screen and (min-width: 425px) {


    #offer-section {
        background-color: var(--primary-color);
        padding-top: 120px;
        padding-left: 50px;  
        padding-right: 50px;
    }

}




/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {



    body {

        font-size: 20px;
    }

    #hero {
      
    background: linear-gradient(rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0.7) 40%, rgba(0, 0, 0, 0.9) 90%), url(/assets/images/samuel-girven-fqMu99l8sqo-unsplashupdated800x533.webp) no-repeat center center !important;
    height: 85vh !important;
    background-attachment:fixed !important;
    background-size: cover !important;
   
       ;
    }

    /* What we offer section */

  .card {

    height: 500px;
    
  }

  .card-img-top{

    min-height: 176px;
  }


  .margin-bottom {

    margin-bottom: 48px;
  }

  .row {

    align-items: center;
}

.row-background {

    justify-content: center;
    
}

.card-border {

  
   padding-right: 0;
   display: flex;
   align-items: flex-start;
   margin-left: 10px;
}




/* Contact.html */ 


.contact-a> a {

    font-size: 14px;
    
    
    }
    
}

/* Large devices (small laptops, 992px and up) */
@media screen and (min-width: 992px) {


    #hero {

    background: linear-gradient(rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0.7) 40%, rgba(0, 0, 0, 0.9) 90%), url(/assets/images/samuel-girven-fqMu99l8sqo-unsplashupdated.webp) no-repeat center center !important;
    min-height: 85vh !important;
    background-attachment:fixed !important;;
    background-size: cover !important;
   
    

    }
  
    .card {

        height: 500px;
        
    }

    .card-img-top {

        max-height: 267px;
        max-width: 500px;
    }
    
    .row {

        align-items: center;
    }

    .row-background {

        justify-content: center;
        
    }

    .margin-bottom {

        margin-bottom: 48px;
      }


    #nav-background {

        border: none;
    }

    /* Makes navbar links stay on page for 992px and up */
    .navbar-nav > li{
        padding-left:12px;
        padding-right:15px;
      
      }



      /* index table */

      /* Makes the font larger by 5px more */
      .table {
            font-size: 25px;

      }


      /* Contact.html */ 


.contact-a> a {

    font-size: 16px;
    
    }

    }


/* Extra large devices (laptops & desktops, 1200px and up) */
@media screen and (min-width: 1200px) {



    #hero {
        background: linear-gradient(rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0.7) 40%, rgba(0, 0, 0, 0.9) 90%), url(/assets/images/samuel-girven-fqMu99l8sqo-unsplashupdated.webp) no-repeat center center !important;
        background-attachment:fixed !important;;
        background-size: cover !important;
        min-height: 720px !important;
        
       

    }
    /* what we have to offer section */

    .card-title {

        font-size: 22px;
    }

    .card-img-top {

        max-height: 500px;
        max-width: 500px;
    }
    

    .row-background {

        justify-content:center;
        
    }
   
}

/* xxl devices (laptops & desktops, 1400px and up) */
@media screen and (min-width: 1400px) {
   
    .row-background {

        justify-content:space-evenly;
        
    }  

    /* What we offer section */

    .card-transition {

       transition: 1s ease;
      
       
    }
    
    .card-transition:hover {
    transform: scale(1.1); 
    transition: 1s ease;
    }

 }


