
/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Galindo&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Dirt&family=Shrikhand&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Galindo&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Markazi+Text:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Dirt&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Galindo&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Markazi+Text:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Dirt&family=Shrikhand&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {

    box-sizing: border-box;
    
}

/* CSS variables */ 
:root {
    --primary-color: #622d62;
    --secondary-color: #c0abc0;
    --highlight-color: ;
    --highlight-color-light: ;
}


body {
   
   background-color: #efeaef;
   font-family: "Markazi Text", serif;
   font-size: 20px;
   color: white;
   display: flex;
   
   
   
}

h1 {

    color: white;
    font-family: "bungee" , sans-serif;
   
    
}

h2 {
    color: #0d060d;
    font-family: "Tinos", serif;
    font-weight: 400;
    font-style: normal;
}


.section {

    padding: 6rem;
    
    
}


header {

    height: 96px;
}



/* Navbar */

.navbar-brand{
    
    font-family: "Shrikhand", serif;
    font-size: 1.5rem;
    color:white;
    
}

#dumbbell {

    
    color: rgb(0, 0, 0);

}




 #navbar {
    background-color: var(--primary-color);

    height: 6rem;
    
   
}

.navbar-toggler {

background-color: var(--secondary-color);
}



.nav-link{

    color: rgb(255, 255, 255);
    font-weight: 600;
    
    
}


.nav-link:hover {

    color: #0d060d;
    transition: 0.5s;
    
}



.navbar-nav > li{
    padding-left:60px;
    padding-right:30px;
  }

 #navbarNavDropdown {

    background-color: var(--primary-color);
    
    
 }

#nav-background{

    background-color: var(--primary-color);
    
}


/* Hero section */

#hero {

    background: linear-gradient(rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.7) 65%, rgba(0, 0, 0, 0.9) 90%), url(/assets/images/gym-5000169_1920.jpg) no-repeat center center;
    height: 100vh;
    background-attachment: fixed;
   
    
    
}

#hero-text {

    position: relative;
    top: 390px;
   
    
}

.join-now {

    background-color: #c0abc0;
    border: none;
    border-radius:5px ;
    padding: 12px;
    font-weight: bold;
}


/* What we offer section */







/* Medium queries */

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {

   
}

/* Large devices (small laptops, 992px and up) */
@media screen and (min-width: 992px) {
  
    
  
}


/* Extra large devices (laptops & desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
   
}





/* xxl devices (laptops & desktops, 1200px and up) */
@media screen and (min-width: 1400px) {
   
   
}



/* desktops 1920px plus */
@media screen and (min-width: 1920px) {
   
    #hero {

       
        background: linear-gradient(rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.7) 65%, rgba(0, 0, 0, 0.9) 90%), url(/assets/images/gym-1920plus.jpg) no-repeat center center;
        height: 70v;
        background-attachment: fixed;
        
        
    }
}
